<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block meta_title %}{{ app_client.name }} - Administration{% endblock %}</title>

    {% block stylesheets %}

    <!-- General CSS Files -->
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/x-editable/css/bootstrap-editable.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css') }}">
    <!-- CSS Libraries -->

    <!-- Awesome Font -->
    <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/fontawesome/css/all.min.css') }}">

    {% endblock %}

    {% block theme_stylesheets %}

        <!-- Template CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/components.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/helpers.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/custom.css') }}">

    {% endblock %}

</head>

<body{% if app_theme.menu_position == "top" %} class="layout-3" {% endif %}>
<div id="app">
    <div class="main-wrapper {{ app_theme.menu_position=="top" ? "container" : "main-wrapper-1" }}">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar{% if app_theme.menu_position == "top" %} justify-content-between{% endif %}">

            {% if app_theme.menu_position == "left" %}
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                </ul>
            </form>
            {% else %}
                <a href="{{ url('_admin') }}" class="navbar-brand sidebar-gone-hide">{{ app_client.name }}</a>
                <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
            {% endif %}

            <ul class="navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" class="rounded-circle mr-1">
                        <div class="d-sm-none d-lg-inline-block">{% block user_name %}{{app.user.firstName}} {{app.user.lastName}}{% endblock %}</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">Connecté il y a 5 minutes</div>
                        <a href="{{ url('user_edit', {id: app.user.id}) }}" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> Mon profil
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url('aropixel_admin_security_logout') }}" class="dropdown-item has-icon text-danger">
                            <i class="fas fa-sign-out-alt"></i> Déconnexion
                        </a>
                    </div>
                </li>
            </ul>

        </nav>

        {% set appMenu = app_menu() %}
        {% if app_theme.menu_position == 'left' %}

        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="{{ url('_admin') }}">{{ app_client.name }}</a>
                </div>
                <div class="sidebar-brand sidebar-brand-sm">
                    <a href="{{ url('_admin') }}"><img alt="image" src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" height="20"></a>
                </div>

                {{ appMenu | raw }}

            </aside>
        </div>

        {% else %}

            <nav class="navbar navbar-secondary navbar-expand-lg">
                <div class="container">

                    {{ appMenu | raw }}

                </div>
            </nav>

        {% endif %}

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-header">

                    <h1>{% block header_title %}{% endblock %}</h1>

                    {% if block('header_elements') is defined %}
                    {% set _elements = block('header_elements') %}
                    <div class="heading-elements">
                        {{ _elements|raw }}
                    </div>
                    {% endif %}

                    <div class="section-header-breadcrumb">
                        {% block header_breadcrumb %}{% endblock %}
                    </div>

                </div>
                {% block sub_header %}{% endblock %}

                <div class="section-body">

                    {% block body %}{% endblock %}

                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
                {{ "now"|date('Y') }} <a href="{{ app_client.link }}">{{ app_client.name }}</a> <div class="bullet"></div>  © <a href="{{ app_copyright.link }}" target="_blank">{{ app_copyright.name }}</a>
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
</div>

{% block javascripts %}
<!-- General JS Scripts -->
<script src="{{ asset('bundles/aropixeladmin/modules/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/popper.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/tooltip.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/nicescroll/jquery.nicescroll.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/moment.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/blockui.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/select2/dist/js/select2.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/x-editable/js/bootstrap-editable.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/datatables/datatables.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/plupload/plupload.full.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/modules/plupload/plupload.queue.min.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/js/stisla.js') }}"></script>
<!-- JS Libraies -->
{% endblock %}

<!-- Page Specific JS File -->

{% block theme_javascripts %}

<!-- Template JS File -->
<script src="{{ asset('bundles/aropixeladmin/js/scripts.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/js/app.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/js/images.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/js/files.js') }}"></script>
<script src="{{ asset('bundles/aropixeladmin/js/custom.js') }}"></script>

{% endblock %}

</body>
</html>
