<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block meta_title %}{{ admin_client.name }} - Administration{% endblock %}</title>

    {% block stylesheets %}

        <!-- General CSS Files -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/select2/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">

        <!-- CSS Libraries -->

        <!-- Template CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/components.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/custom.css') }}">


        <!-- Awesome Font -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/fontawesome/css/all.min.css') }}">

    {% endblock %}

</head>
<body>

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                    <div class="login-brand">
                        <img src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" alt="{{ admin_client.name }}" width="180">
                    </div>

                    {{ form_start(form) }}
                    <div class="card mt-5">
                        <div class="card-header d-flex flex-column justify-content-start align-items-start">
                            <h4 class="mb-1">{% trans %}first_connexion.request.title{% endtrans %}</h4>
                            <p class="mb-0">{% trans %}first_connexion.request.description{% endtrans %}</p>
                        </div>

                        <div class="card-body">
                            {% if not_found %}<div class="alert alert-danger">{% trans %}first_connexion.request.alert.not_found{% endtrans %}</div>{% endif %}
                            {% if already_initialized %}<div class="alert alert-danger">{% trans with {'%link%' : path('aropixel_admin_reset_request')} %}first_connexion.request.alert.already_initialized{% endtrans %}</div>{% endif %}

                            <div class="mt-4 mb-4">
                                <label for="email" class="mb-2">{% trans %}first_connexion.request.form.email{% endtrans %}</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">{% trans %}first_connexion.request.submit{% endtrans %}</button>
                    </div>
                    {{ form_end(form) }}

                    <br /><br /><br />
                    <div class="simple-footer">
                        Copyright &copy; {{ admin_client.name }} {{ "now"|date('Y') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>
