<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>{% block meta_title %}{{ admin_client.name }} - Administration{% endblock %}</title>

    {% block stylesheets %}

        <!-- General CSS Files -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/select2/dist/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">

        <!-- CSS Libraries -->

        <!-- Template CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/components.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/custom.css') }}">


        <!-- Awesome Font -->
        <link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/fontawesome/css/all.min.css') }}">

    {% endblock %}

</head>
<body>

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
                    <div class="login-brand">
                        <img src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" alt="{{ admin_client.name }}" width="100" class="shadow-light rounded-circle">
                    </div>

                    <div class="card mt-5">
                        <div class="card-header"><h4>{% trans %}Reactivation of your account{% endtrans %}</h4></div>

                        <div class="card-body">
                            <p>{% trans %}After several months of inactivity, your account has been deactivated.{% endtrans %}</p>
                            <p>
                                {% trans %}We have just sent you an email which will allow you to choose a new password in order to reactivate your account.{% endtrans %}<br>
                                {% trans %}You can check your email now.{% endtrans %}
                            </p>
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="simple-footer">
                        Copyright &copy; {{ admin_client.name }} {{ "now"|date('Y') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>
