{% set crop_suffix = form.parent.vars.crop_suffix %}
{% set prototype_new %}{{ include('@AropixelAdmin/Image/Widget/new.html.twig') }}{% endset %}
<div class="thumbnail"
         data-im-crop-path="{{ image_path ? image_path | imagine_filter('admin_crop') : '' }}"
{#         data-im-attach-id="{{ form.vars.attachedImage is defined and form.vars.attachedImage ? form.vars.attachedImage.id : '' }}"#}
{#         data-im-attach-class="{{ form.vars.attach_class }}"#}
        {% if form.vars.image_value %}

         data-im-crops-slugs="{{ form.vars.crops is defined and form.vars.crops ? form.vars.crops|keys|join(';') : '' }}"
         data-im-crops-labels="{{ form.vars.crops is defined and form.vars.crops ? form.vars.crops|join(';') : '' }}"

        {% else %}

         data-im-image-id="{{ form.vars.data is defined and form.vars.data and form.vars.data.image ? form.vars.data.image.id : '' }}"

        {% endif %}
        {% if thumbnailAttr is defined %}{% for name,value in thumbnailAttr %}{{name}}="{{value}}"{% endfor %}{% endif %} >

    	<div class="thumb">
            <div class="preview" data-new="{{ prototype_new|e }}">
            {% block preview %}
            {% if image_path %}
                <img src="{{ image_path | imagine_filter('admin_thumbnail') }}" alt="" />
            {% else %}
                {{ include('@AropixelAdmin/Image/Widget/new.html.twig') }}
            {% endif %}
            {{ form_widget(form) }}
            {% endblock %}
            </div>
            <div class="caption-overflow">
    			<span>
                    {% block captionOverflow %}
                    <a class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 iconAttr" data-bs-toggle="modal" data-bs-target="#modalAttributes"><i class="far fa-file-alt"></i></a>
                    <a class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 iconCrop" data-bs-toggle="modal" data-bs-target="#modalCrop{{ crop_suffix }}"><i class="fas fa-crop-alt"></i></a>
                    <a class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 iconUnlink"><i class="fas fa-unlink"></i></a>
                    {% endblock %}
    			</span>
    		</div>
    	</div>

    	<div class="caption card-footer">
            {% block caption %}
            {% if image is defined and image %}
    		<h6 class="no-margin-top text-semibold">{{ image.title ? image.title : 'No title'|trans }}</h6>
    		<div>{% trans %}Choose an image{% endtrans %}</div>
            {% else %}
            <h6 class="no-margin-top text-semibold">{{ placeholder is defined ? placeholder : 'Featured image'|trans }}</h6>
            <div>{% trans %}Choose an image{% endtrans %}</div>
            {% endif %}
            {% endblock %}
    	</div>
    </div>
