{% set myfilters = [] %}
{% if image_value is defined and image_value %}
	{% set myfilters = filters is defined ? filters : image_path|crop_filters(crops) %}
{% elseif image_class is defined and image_class %}
	{% set myfilters = filters is defined ? filters : image|entity_crop_filters(image_class) %}
{% endif %}


<!-- Full width modal -->
<div id="modalCrop{{ suffix }}" class="modalCrop modal fade" style="text-align: left">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Recadrer une image</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">

				<div>

					<div class="float-left" id="crop_zone">
						{% if file_name is defined and file_name %}
							<img src="{{ file_name | filename_web_path | imagine_filter('admin_crop') }}" width="600" data-id="{{ suffix }}" />
						{% elseif image is defined and image and image.id and image.getWebPath() %}
							<img src="{{ image.getWebPath() | imagine_filter('admin_crop') }}" width="600" data-id="{{ image.image.id }}" />
						{% endif %}
					</div>

					<div class="float-left full-with m-l-50" id="crop_options">

						<h4><span class="semi-bold">Régler les découpes</span> de votre image</h4>

						<p>
							Optimisez l'affichage des images dans votre site, en réglant les différentes découpes de vos images.<br />
							<strong>Attention, si vous réduisez beaucoup votre zone de sélection, la qualité pourrait être affectée.</strong>
						</p>

						{% set class = 'checked="checked"' %}
						{% for filter in myfilters %}

							<div class="form-check">
								<input id="ratio_{{ filter.slug }}" class="form-check-input" {{ class }} type="radio" name="ratio{{ suffix }}" value="{{ filter.slug }}" data-ratio="{{ filter.ratio }}" data-crop="{{ filter.crop }}">
								<label for="ratio_{{ filter.slug }}" class="form-check-label">{{ filter.name }}</label><br />
							</div>

							{% set class = '' %}
						{% endfor %}


					</div>
					<div class="clearfix"></div>

				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary crop-file">Recadrer l'image</button>
			</div>
		</div>
	</div>
</div>
<!-- /full width modal -->
