{# Get available crop filters for this image #}
{% set myfilters = get_available_crop_filters(image, optional_available_crop_list) %}

<!-- Full width modal -->
<div id="modalCrop{{ image.getImageUid() }}" data-bs-backdrop="false" class="modalCrop modal fade" tabindex="-1" role='dialog' style="background-color: rgba(0, 0, 0, 0.5);">
	<div class="modal-dialog modal-full">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Recadrer une image</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">

				<div class="d-flex justify-content-start">

					<div class="float-left" id="crop_zone">
						<img src="{{ image.getWebPath() | imagine_filter('admin_crop') }}" width="600" data-id="{{ image.getImageUid() }}" />
					</div>

					<div class="float-left full-with m-l-50" id="crop_options">

						<h5 class="mb-3">Régler les découpes de votre image</h5>

						<p class="mb-5">
							Optimisez l'affichage des images dans votre site, en réglant les différentes découpes de vos images.<br />
							<strong>Attention, si vous réduisez beaucoup votre zone de sélection, la qualité pourrait être affectée.</strong>
						</p>

						{% set class = 'checked="checked"' %}
						{% for filter in myfilters %}

							<div class="form-check">
								<input id="ratio_{{ filter.slug }}" class="form-check-input" {{ class }} type="radio" name="ratio{{ suffix }}" value="{{ filter.slug }}" data-ratio="{{ filter.ratio }}" data-crop="{{ filter.coordinates }}">
								<label for="ratio_{{ filter.slug }}" class="form-check-label">{{ filter.description }}</label><br />
							</div>

							{% set class = '' %}
						{% endfor %}


					</div>
					<div class="clearfix"></div>

				</div>

			</div>

			<div class="modal-footer d-flex justify-content-between">
				<button type="button" class="btn btn-outline m-r-15" data-dismiss="modal">Fermer</button>
				<button type="button" class="btn btn-primary crop-file">Recadrer l'image</button>
			</div>
		</div>
	</div>
</div>
<!-- /full width modal -->
