<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ app_client_name }} - Administration</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/aropixeladmin/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/aropixeladmin/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/aropixeladmin/css/core.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/aropixeladmin/css/components.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/aropixeladmin/css/colors.css') }}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/plugins/loaders/pace.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/core/libraries/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/core/libraries/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/plugins/loaders/blockui.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/plugins/ui/nicescroll.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/plugins/ui/drilldown.js') }}"></script>
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/plugins/forms/styling/uniform.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/aropixeladmin/js/core/app_left.js') }}"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container login-cover" style="background-image:url('{{ login_img }}')">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="">{{ app_client_name }}</a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">
            {% block fos_user_content %}{% endblock %}
			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->


		<!-- Footer -->
		<div class="footer text-muted">
			&copy; {{ "now"|date('Y') }}. {{ app_client_name }} by <a href="{{ app_copyright_link }}" target="_blank">{{ app_copyright_name }}</a>
		</div>
		<!-- /footer -->

	</div>
	<!-- /page container -->

</body>
</html>
