<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>{% block meta_title %}{{ admin_client.name }} - Administration{% endblock %}</title>

	{% block stylesheets %}

		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<!-- General CSS Files -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/select2/dist/css/select2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">

		<!-- CSS Libraries -->

		<!-- Template CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/components.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/login.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/custom.css') }}">

		<!-- Awesome Font -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/fontawesome/css/all.min.css') }}">

	{% endblock %}

</head>
<body>

	{% set hour = "now"|date("H") %}

	<div id="app">

		<div class="row">

			<div class="col-12 col-md-5 login-side"></div>

			<div class="col-12 col-md-7 d-flex align-items-center justify-content-center">

				<div class="login-content">

					<div class="login-brand">
						<img src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" alt="{{ admin_client.name }}" width="180">
					</div>

					<h4>
						{% if hour >= 5 and hour < 19 %}
							{% trans %}login.greetings.hello{% endtrans %}
						{% elseif hour >= 19 and hour <=23  %}
							{% trans %}login.greetings.good_evening{% endtrans %}
						{% else %}
							{% trans %}login.greetings.good_night{% endtrans %}
						{% endif %}
					</h4>

					{% if error|length %}
						{% if error.toHide is not defined or (error.toHide is defined and not error.toHide) %}
							<div class="alert alert-danger">
								{{ error.messageKey|trans(error.messageData, 'security') }}
							</div>
						{% endif %}
					{% endif %}

					<form method="POST" action="{{ path('aropixel_admin_security_login') }}" class="needs-validation" novalidate="">
						<div class="form-group">
							<label for="email" class="control-label">{% trans %}login.form.login.label{% endtrans %}</label>
							<input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
							<div class="invalid-feedback">
								{% trans %}login.form.login.alert{% endtrans %}
							</div>
						</div>

						<div class="form-group">
							<div class="d-flex justify-content-between ">
								<label for="password" class="control-label">{% trans %}login.form.password.label{% endtrans %}</label>
								<a href="{{ path('aropixel_admin_reset_request') }}" class="text-small">
									{% trans %}text.forgotten_password_question{% endtrans %}
								</a>
							</div>
							<input id="password" type="password" class="form-control" name="password" tabindex="2" required>
							<div class="invalid-feedback">
								{% trans %}login.form.password.alert{% endtrans %}
							</div>
						</div>

						<div class="form-group">
							<div class="form-check">
								<input type="checkbox" name="_remember_me" class="form-check-input" tabindex="3" id="remember-me">
								<label class="form-check-label" for="remember-me">{% trans %}login.form.remember_me{% endtrans %}</label>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary w-100" tabindex="4">
								{% trans %}login.form.submit{% endtrans %}
							</button>
						</div>

						<div class="text-center">
							<a href="{{ path('aropixel_admin_security_first_login_request') }}">{% trans %}login.first_connexion_link{% endtrans %}</a>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

					</form>

					<div class="simple-footer">
						Copyright &copy; {{ admin_client.name }} {{ "now"|date('Y') }}
					</div>

				</div>

			</div>

		</div>

	</div>

</body>
</html>
