
{% set prototype_new %}{{ include('@AropixelAdmin/Image/Widget/new.html.twig') }}{% endset %}
<div class="thumbnail card"
         data-im-attach-path="{{ path('image_attach') }}"
        {% if form.vars.data_type == 'entity' %}
         data-im-attach-class="{{ form.vars.attach_class }}"
         data-im-attach-id="{{ form.vars.attachedImage is defined and form.vars.attachedImage ? form.vars.attachedImage.id : '' }}"
         data-im-image-id="{{ form.vars.attachedImage is defined and form.vars.attachedImage and form.vars.attachedImage.image ? form.vars.attachedImage.image.id : '' }}"
         data-im-crop-path="{{ form.vars.attachedImage is defined and form.vars.attachedImage and form.vars.attachedImage.image ? form.vars.attachedImage.getWebPath() | imagine_filter('admin_crop') : '' }}"
        {% endif %}
        {% if thumbnailAttr is defined %}{% for name,value in thumbnailAttr %}{{name}}="{{value}}"{% endfor %}{% endif %} >
    	<div class="thumb">

            {{ include('@AropixelAdmin/Image/Widget/_preview.html.twig') }}
            {{ include('@AropixelAdmin/Image/Widget/_caption.html.twig') }}


    	</div>
        {% if form.vars.card_footer %}
            {{ include('@AropixelAdmin/Image/Widget/_footer.html.twig') }}
        {% endif %}
    </div>
