{% extends '@AropixelAdmin/base.html.twig' %}

{% if form is defined %}
    {% form_theme form '@AropixelAdmin/Form/layout.html.twig' %}
{% endif %}

{% block stylesheets %}
    <link href="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.date.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jqueryui-interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery.fitvids.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/simple-ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/legacy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.date.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/i18n/jquery.spectrum-fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/wysihtml5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/toolbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/parsers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.min.js') }}"></script>
{% endblock %}


{% set baseroute = get_baseroute() %}

{% set has_tabs = block('tabbable') is defined %}
{% if has_tabs %}{% set _navtabs = block('tabbable') %}{% endif %}
{% set tabbableCollapsed = tabbableCollapsed is defined ? tabbableCollapsed : false %}


{% block header_top_left %}

    <div class="d-flex align-items-center">

        {% block header_image %}
            {% if form.image is defined %}
                <div class="header-image">
                    <img src="{{ (form.image.vars.value ? form.image.vars.value.getWebPath() : null) | aropixel_imagine_filter('admin_thumbnail') }}" alt="" />
                </div>
            {% endif %}
        {% endblock %}

        <div>

            <h1>{% block header_title %}{% endblock %}</h1>

            <div class="header-breadcrumb">
                {% block header_breadcrumb %}{% endblock %}
            </div>

        </div>

    </div>

{% endblock %}

{% block header_top_right %}

    {% if route_exists(baseroute ~ '_index')  %}
        <a href="{{ path(baseroute ~ '_index') }}" class="btn btn-small btn-default">
            <i class="fas fa-list me-2"></i> Liste
        </a>
    {% endif %}
    {% if app.request.get('_route') != baseroute ~ '_new' and route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="btn btn-small btn-primary ms-3">
            <i class="fas fa-plus me-2"></i> Créer
        </a>
    {% endif %}

{% endblock %}

{% block header_bottom %}

    <div class="d-flex align-items-center justify-content-between mb-4">

        {% block header_panels %}

            {% if has_tabs %}
                <div class="tabbable tabbable-header mt-3">
                    <ul class="nav" role="tablist">
                        {% if _navtabs is defined %}
                            {{ _navtabs|raw }}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

        {% endblock %}

        {% block header_actions %}

            <div class="d-flex align-items-center form-action-btns">

                {% block header_status_action %}

                    {% if form.status is defined %}

                        {% set publishable = form.vars.value %}

                        <div class="form-switch form-status-switch">
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ publishable.isScheduled ? (publishable.isScheduleOutdated ? "Passé" : (publishable.isPublished ? "Publié" : "Programmé")) : (publishable.isPublished ? "Publié" : "Non publié") }}</label>
                            <input class="form-check-input {{ publishable.isScheduled ? (publishable.isScheduleOutdated ? "outdated" : (publishable.isPublished ? "checked" : "scheduled")) : (publishable.isPublished ? "checked" : "") }}" type="checkbox" role="switch"{{ form.status.vars.value == "online" ? " checked" : "" }}>
                        </div>

                    {% endif %}

                {% endblock %}

                {% block header_btn_actions %}

                    {% set deleteRoute = app.request.get('_route') != baseroute ~ '_delete' and route_exists(baseroute ~ '_delete') %}
                    {% set deleteRoute = deleteRoute and form.vars.data.id is defined and form.vars.data.id %}

                    {% set publicationOptions = form.createdAt is defined or form.publishAt is defined or form.publishUntil is defined or form.slug is defined %}

                    <div class="btn-group">

                        <button class="btn btn-secondary btn-small ms-3" form="aropixel_admin_form" data-form="submit">
                            Enregistrer
                        </button>

                        {% block header_btn_dropdown_actions %}

                            {% if previewPath is defined or form.createdAt is defined or deleteRoute %}

                                <button type="button" class="btn btn-secondary btn-small dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                                <div class="dropdown-menu">

                                    {% if previewPath is defined %}
                                        <a class="dropdown-item" href="#">Prévisualiser</a>
                                    {% endif %}

                                    {% if publicationOptions %}
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#publicationFormModal">Options de publication</a>
                                    {% endif %}

                                    {% if deleteRoute %}

                                        {% if previewPath is defined or publicationOptions %}
                                            <div class="dropdown-divider"></div>
                                        {% endif %}

                                        {% if delete_form is defined and delete_form %}

                                            {{ form_start(delete_form, {'attr': {'class': 'd-inline-block'}}) }}
                                            <a id="delete_button" href="#" class="dropdown-item text-danger">
                                                Supprimer
                                            </a>
                                            {{ form_widget(delete_form._token) }}
                                            {{ form_end(delete_form) }}

                                        {% else %}

                                            <form method="post" class="d-inline-block" action="{{ path(baseroute ~ '_delete', {'id': form.vars.data.id}) }}">
                                                <a id="delete_button" href="#" class="dropdown-item text-danger">
                                                    Supprimer
                                                </a>
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ form.vars.unique_block_prefix ~ form.vars.data.id) }}">
                                                <input type="hidden" name="_token_prefix" value="{{ 'delete_' ~ form.vars.unique_block_prefix ~ form.vars.data.id }}">
                                            </form>

                                        {% endif %}

                                    {% endif %}

                                </div>

                            {% endif %}

                        {% endblock %}

                    </div>

                {% endblock %}

            </div>

        {% endblock %}

    </div>

{% endblock %}


{% block body -%}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissible alert-styled-left alert-arrow-left alert-bordered" role="alert">
            {{ flash_message|raw }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-warning alert-dismissible alert-styled-left alert-arrow-left alert-bordered" role="alert">
            {{ flash_message|raw }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% block panels %}

        {{ form_start(form, {'attr': {'data-form': 'form', 'id' : 'aropixel_admin_form'}}) }}

            {% if form.status is defined %}

                <div class="form-status-switch">
                    {{ form_widget(form.status) }}
                </div>

            {% endif %}

            {{ form_errors(form) }}

            <div {% if has_tabs %}class="panel-tab-content tab-content"{% endif %}>

                {% block mainPanel %}

                    <div class="card">

                        <div class="card-body">

                            {% block formbody %}{% endblock %}

                        </div>

                    </div>

                {% endblock %}

            </div>

            {% block publicationModal %}

                {% if
                    form.slug is defined or
                    form.status is defined or
                    form.createdAt is defined or
                    form.publishAt is defined or
                    form.publishUntil is defined
                %}

                    <div class="modal modal-publication fade" id="publicationFormModal" aria-hidden="true" tabindex="-1">

                        <div class="modal-dialog modal-lg modal-dialog-centered">

                            <div class="modal-content">

                                <div class="modal-header">

                                    {% block publishTitle %}
                                        <h5 class="modal-title">Paramétrez vos options de publication</h5>
                                    {% endblock %}
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>

                                </div>

                                <div class="modal-body">

                                    <div id="publicationFields">

                                        <div class="tabbable tabbable-header mt-4">
                                            <ul class="nav" role="tablist">
                                                {% if form.slug is defined %}
                                                    <li class="nav-item" role="presentation">
                                                        <a href="#panel-tab-slug" data-bs-toggle="pill" class="nav-link active" aria-selected="false" tabindex="-1" role="tab">Permalien</a>
                                                    </li>
                                                {% endif %}
                                                {% if form.createdAt is defined %}
                                                    <li class="nav-item" role="presentation">
                                                        <a href="#panel-tab-creation" data-bs-toggle="pill" class="nav-link {% if form.slug is not defined %}active{% endif %}" aria-selected="true" role="tab">Date de création</a>
                                                    </li>
                                                {% endif %}
                                                {% if form.publishAt is defined or form.publishAt is defined %}
                                                    <li class="nav-item" role="presentation">
                                                        <a href="#panel-tab-publish" data-bs-toggle="pill" class="nav-link {% if form.slug is not defined and form.createdAt is not defined %}active{% endif %}" aria-selected="false" tabindex="-1" role="tab">Dates de publication</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>

                                        <div class="panel-tab-content tab-content mt-5 px-3">

                                            {% block publishSlug %}
                                                {% include '@AropixelAdmin/Form/publication/_slug.html.twig' %}
                                            {% endblock %}

                                            {% block publishCreated %}
                                                {% include '@AropixelAdmin/Form/publication/_date.html.twig' %}
                                            {% endblock %}

                                            {% block publishDates %}
                                                {% include '@AropixelAdmin/Form/publication/_publish.html.twig' %}
                                            {% endblock %}

                                        </div>

                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Continuer mes modifications</button>
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>

                            </div>

                        </div>

                    </div>

                {% endif %}

            {% endblock %}


        {{ form_end(form) }}

    {% endblock %}

    {% block afterForm %}{% endblock %}


{% endblock %}
