{% extends '@AropixelAdmin/base.html.twig' %}

{% if form is defined %}
    {% form_theme form '@AropixelAdmin/Form/layout.html.twig' %}
{% endif %}

{% block stylesheets %}
    <link href="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.date.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jqueryui-interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery.fitvids.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/simple-ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/legacy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.date.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/i18n/jquery.spectrum-fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/wysihtml5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/toolbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/parsers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.min.js') }}"></script>
{% endblock %}


{% set baseroute = get_baseroute() %}
{% set defaultLocale = app.request.defaultLocale %}


{% block header_elements %}
    {% if route_exists(baseroute ~ '_index')  %}
        <a href="{{ path(baseroute ~ '_index') }}" class="btn btn-small btn-default">
            <i class="fas fa-list me-2"></i> Liste
        </a>
    {% endif %}
    {% if app.request.get('_route') != baseroute ~ '_new' and route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="btn btn-small btn-primary">
            <i class="fas fa-plus me-2"></i> Créer
        </a>
    {% endif %}
{% endblock %}


{% set has_tabs = block('tabbable') is defined %}
{% if has_tabs %}{% set _navtabs = block('tabbable') %}{% endif %}
{% set tabbableCollapsed = tabbableCollapsed is defined ? tabbableCollapsed : false %}

{% block header %}

    <div class="section-header-left">

        <div class="d-flex align-items-center">

            {% block header_image %}
                {% if form.image is defined %}
                    <div class="section-header-left-image">
                        <img src="{{ (form.image.vars.value ? form.image.vars.value.getWebPath() : null) | aropixel_imagine_filter('admin_thumbnail') }}" alt="" />
                    </div>
                {% endif %}
            {% endblock %}

            <div class="section-header-left-content">

                <div class="d-flex align-items-center{% if form.image is defined %}{% endif %}">
                    <h1 class="mt-0">{% block header_title %}{% endblock %}</h1>
                </div>

                <div class="section-header-breadcrumb">
                    {% block header_breadcrumb %}{% endblock %}
                </div>

            </div>

        </div>

    </div>

    <div class="section-header-right">

        <div class="text-end">

            {% if block('header_elements') is defined %}
                {% set _elements = block('header_elements') %}
                <div class="heading-elements">
                    {{ _elements|raw }}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}


{% block body -%}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success alert-dismissible alert-styled-left alert-arrow-left alert-bordered" role="alert">
            {{ flash_message|raw }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-warning alert-dismissible alert-styled-left alert-arrow-left alert-bordered" role="alert">
            {{ flash_message|raw }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


    <div class="d-flex {% if has_tabs %}justify-content-between{% else %}justify-content-end{% endif%} align-items-start mb-4">

        {% block headerResumePanels %}

            {% if has_tabs %}
                <div class="tabbable tabbable-header mt-3">
                    <ul class="nav" role="tablist">
                        {% if _navtabs is defined %}
                            {{ _navtabs|raw }}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

        {% endblock %}

        {% include '@AropixelAdmin/Form/form_actions.html.twig' %}

    </div>

    {% block panels %}

        {{ form_start(form, {'attr': {'data-form': 'form', 'id' : 'aropixel_admin_form'}}) }}

            {% if form.status is defined %}

                <div class="form-status-switch">
                    {{ form_widget(form.status) }}
                </div>

            {% endif %}

            {{ form_errors(form) }}

            <div{% if has_tabs %} class="panel-tab-content tab-content" {% endif %}>


                {% block mainPanel %}
                    <!-- Form horizontal -->
                    <div class="card">

                        <div class="card-body">

                            {% block formbody %}{% endblock %}

                        </div>

                    </div>
                {% endblock %}


            </div>


            {% block offcanvas %}

                {% if
                    form.slug is defined or
                    form.status is defined or
                    form.createdAt is defined or
                    form.publishAt is defined or
                    form.publishUntil is defined
                %}

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasForm" aria-labelledby="Réglages">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">

                            {#{% block image %}

                                {% if form.image is defined and not form.image.rendered  %}
                                    {% include '@AropixelAdmin/Form/sidebar_image.html.twig' %}
                                    <div class="h-rule h-rule-dashed mt-5 mb-5"></div>
                                {% endif %}

                            {% endblock %}

                            {% block files %}

                                {% if form.files is defined  %}
                                    {% include '@AropixelAdmin/Form/sidebar_file.html.twig' %}
                                    <div class="h-rule h-rule-dashed mt-5 mb-5"></div>
                                {% endif %}

                            {% endblock %}#}

                            <div class="d-flex justify-content-between">

                                {% block publishTitle %}
                                <div>
                                    <h2 class="section-title mt-0">Publication</h2>
                                    <div class="section-lead mb-4">Paramétrez vos options de publication</div>
                                </div>
                                {% endblock %}

                                {#<div>
                                    {% block publishStatus %}
                                        {% include '@AropixelAdmin/Form/sidebar_status.html.twig' %}
                                    {% endblock %}
                                </div>#}

                            </div>

                            {% block publishSlug %}
                                {% include '@AropixelAdmin/Form/sidebar_slug.html.twig' %}
                            {% endblock %}

                            {% block publishCreated %}
                                {% include '@AropixelAdmin/Form/sidebar_date.html.twig' %}
                            {% endblock %}

                            {% if form.publishAt is defined or form.publishAt is defined %}

                                {% block publishDates %}
                                    {% include '@AropixelAdmin/Form/sidebar_publish.html.twig' %}
                                {% endblock %}

                            {% endif %}

                            <div class="d-flex justify-content-between w-100 m-t-60">
                                <a class="btn btn-outline" data-bs-dismiss="offcanvas">Continuer mes modifications</a>
                                <button class="btn btn-primary" type="submit">Enregistrer</button>
                            </div>


                        </div>

                    </div>


                {% endif %}

            {% endblock %}


        {{ form_end(form) }}

    {% endblock %}

    {% block afterForm %}
    {% endblock %}


{% endblock %}
