{% extends '@AropixelAdmin/base.html.twig' %}

{% if form is defined %}
{% form_theme form '@AropixelAdmin/Form/layout.html.twig' %}
{% endif %}

{% block stylesheets %}
    <link href="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/pickadate/themes/default.date.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/bootstrap-select/css/bootstrap-select.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.css') }}" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jqueryui-interactions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery.fitvids.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/ckeditor/simple-ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/legacy.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/pickadate/picker.date.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/jquery-clockpicker/bootstrap-clockpicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/bootstrap-select/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/spectrum.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/spectrum/i18n/jquery.spectrum-fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/wysihtml5.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/toolbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/parsers.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/wysihtml5/locales/bootstrap-wysihtml5.ua-UA.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/aropixeladmin/modules/cropper/cropper.min.js') }}"></script>
{% endblock %}

{% block header_elements %}
    {% set baseroute = get_baseroute() %}
    {% if route_exists(baseroute ~ '_index')  %}
        <a href="{{ path(baseroute ~ '_index') }}" class="fa-stack" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Liste">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-list fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
    {% if app.request.get('_route') != baseroute ~ '_new' and route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new') }}" class="fa-stack" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Nouveau">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
    {% if app.request.get('_route') != baseroute ~ '_delete' and route_exists(baseroute ~ '_delete') %}
        {% if form.vars.data.id is defined and form.vars.data.id %}
            <form method="post" class="d-inline-block" action="{{ path(baseroute ~ '_delete', {'id': form.vars.data.id}) }}">
                <button type="button" id="delete_button" class="fa-stack danger" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Supprimer">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                </button>
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ form.vars.unique_block_prefix ~ form.vars.data.id) }}">
                <input type="hidden" name="_token_prefix" value="{{ 'delete_' ~ form.vars.unique_block_prefix ~ form.vars.data.id }}">
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% set has_tabs =
    block('tabbable') is defined or
    form.createdAt is defined or
    form.publishAt is defined or
    form.publishUntil is defined or
    form.slug is defined or
    form.status is defined or
    form.image is defined or
    form.files is defined
%}

{% set tabbableCollapsed = tabbableCollapsed is defined ? tabbableCollapsed : false %}

{% block header %}

    <div class="section-header-left">
        <div class="d-flex">
            {% if form.image is defined %}
            <div class="section-header-left-image" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm">
                <img src="{{ form.image.vars.value | aropixel_imagine_filter('admin_thumbnail') }}" alt="" />
            </div>
            {% endif %}
            <div class="section-header-left-content">

                <div class="d-flex align-items-center{% if form.image is defined %}{% endif %}">
                    <h1>{% block header_title %}{% endblock %}</h1>

                    {% if block('header_elements') is defined %}
                        {% set _elements = block('header_elements') %}
                        <div class="heading-elements">
                            {{ _elements|raw }}
                        </div>
                    {% endif %}

                </div>

                <div class="section-header-breadcrumb">
                    {% block header_breadcrumb %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div>
    {% if has_tabs %}
        {% set _navtabs = block('tabbable') %}
        <div class="text-end">
            <div class="tabbable {% if tabbableCollapsed %}collapsed {% endif %}">
                <ul class="nav nav-pills" role="tablist">
                    {% if _navtabs is defined %}
                        {{ _navtabs|raw }}
                    {% endif %}
                    <li>
                        <button class="btn btn-primary" form="aropixel_admin_form">Enregistrer</button>
                    </li>
                </ul>
            </div>
            <div class="section-entry-properties">
                {% if form.vars.value.createdAt is defined and form.vars.value.createdAt  %}
                    <div class="section-entry-property" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm">Créé le : <strong>{{ form.vars.value.createdAt|date('d/m/Y') }}</strong></div>
                {% endif %}
                {% if form.vars.value.slug is defined and form.vars.value.slug  %}
                    <div class="section-entry-property" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm">Permalien : <strong>{{ form.vars.value.slug }}</strong></div>
                {% endif %}
                {% if form.status is defined and form.status.vars.value  %}
                    <div class="section-entry-status" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm">
                        <div class="d-flex align-items-center">
                            <div>Publié </div>
                            <span class="status-indicator checked warning"></span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    {% else %}
        <div class="text-end">
            <button class="btn btn-primary" form="aropixel_admin_form">Enregistrer</button>
            <div class="section-entry-properties">
                {% if form.vars.value.createdAt is defined and form.vars.value.createdAt  %}
                <div class="section-entry-property">Créé le : <strong>{{ form.vars.value.createdAt|date('d/m/Y') }}</strong></div>
                {% endif %}
                {% if form.status is defined and form.status.vars.value  %}
                    <div class="section-entry-property">Publié : {{ form_widget(form.status) }}</div>
                {% endif %}
                <i class="fas fa-chevron-down"></i>
            </div>
        </div>
    {% endif %}
    </div>

{% endblock %}

{% block body -%}

    {% for flash_message in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissible alert-styled-left alert-arrow-left alert-bordered">
        {{ flash_message|raw }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-warning alert-dismissible alert-styled-left alert-arrow-left alert-bordered">
        {{ flash_message|raw }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasForm" aria-labelledby="Réglages">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

            {% block image %}

                {% if form.image is defined  %}
                    {% include '@AropixelAdmin/Form/sidebar_image.html.twig' %}
                {% endif %}

            {% endblock %}

            {% block files %}

                {% if form.files is defined  %}
                    {% include '@AropixelAdmin/Form/sidebar_file.html.twig' %}
                {% endif %}

            {% endblock %}


            {% block publishSlug %}
                {% include '@AropixelAdmin/Form/sidebar_slug.html.twig' %}
            {% endblock %}

            {% block publishStatus %}
                {% include '@AropixelAdmin/Form/sidebar_status.html.twig' %}
            {% endblock %}

            {% block publishCreated %}
                {% include '@AropixelAdmin/Form/sidebar_date.html.twig' %}
            {% endblock %}

            {% if form.publishAt is defined or form.publishAt is defined %}

                {% block publishDates %}
                    {% include '@AropixelAdmin/Form/sidebar_publish.html.twig' %}
                {% endblock %}

            {% endif %}

        </div>
    </div>
    <div class="offcanvas-buttons">
        <a class="offcanvas-btn offcanvas-btn-img btn btn-animate-collapse" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm"><i class="far fa-image"></i><span> Image</span></a>
    </div>


    {% block panels %}

    {{ form_start(form, {'attr': {'data-form': 'form', 'id' : 'aropixel_admin_form'}}) }}

        {{ form_errors(form) }}

        <div{% if has_tabs %} class="panel-tab-content tab-content" {% endif %}>


            {% block mainPanel %}
                <!-- Form horizontal -->
                <div class="card">

                    {#<div class="card-header">
                        <h4 class="card-title">{% block formtitle %}{% endblock %}</h4>
                    </div>#}

                    <div class="card-body">

                        {% block formbody %}{% endblock %}

                    </div>

                </div>
            {% endblock %}


        </div>
        {% block publishAction %}

            {% if not has_tabs %}

                {% if preview is defined and preview %}
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary" id="submitForm"><i class="icon-floppy-disk position-left"></i> Enregistrer</button>
                        <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"> <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ preview }}" target="_blank">Aperçu</a></li>
                        </ul>
                    </div>
                {% else %}
                    <button type="submit" class="btn btn-primary heading-btn pull-right" data-form="submit" id="submitForm"><i class="icon-floppy-disk position-left"></i> Enregistrer</button>
                {% endif %}

            {% endif %}

        {% endblock %}

    {{ form_end(form) }}

    {% endblock %}

    {% block afterForm %}
    {% endblock %}


{% endblock %}
