
{% use "bootstrap_4_layout.html.twig" %}

{% set modalLibrary = false %}


{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('form-horizontal'))|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}


{% block form_end -%}
    {{- parent() -}}
    {{ include('@AropixelAdmin/Image/Modals/library.html.twig', { 'category' : false }) }}
    {{ include('@AropixelAdmin/Image/Modals/attributes.html.twig', { 'category' : false }) }}
    {{ include('@AropixelAdmin/File/Modals/library.html.twig', { 'category' : false }) }}
{%- endblock form_end %}


{% block form_row -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    <{{ element|default('div') }}{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group')|trim})} %}{{ block('attributes') }}{% endwith %}{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
     {{ form_label(form) }} {# -#}
        {{ form_widget(form, widget_attr) }} {# -#}
        {{ form_help(form) }}
{#        {{ form_errors(form) }} #}{# -#}
    </{{ element|default('div') }}> {# -#}
{%- endblock form_row %}


{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ translation_domain is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</{{ element|default('label') }}>{% block form_label_errors %}{{- form_errors(form) -}}{% endblock form_label_errors %}
    {%- else -%}
        {%- if errors|length > 0 -%}
            <div id="{{ id }}_errors" class="mb-2">
                {{- form_errors(form) -}}
            </div>
        {%- endif -%}
    {%- endif -%}
{%- endblock form_label %}


{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <span class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger{% endif %} d-block">
            {%- for error in errors -%}
                <span class="d-block">
                    <span class="form-error-message">{{ error.message }}</span>
                </span>
            {%- endfor -%}
        </span>
    {%- endif %}
{%- endblock form_errors %}

{% block collection_widget -%}
    {% import _self as self %}
    {% set attr = attr|merge({'class': attr.class|default ~ ' controls collection-widget'}) %}

    {% apply spaceless %}
        <div data-form-type="collection" {{ block('widget_container_attributes') }}
                {% if prototype is defined and allow_add %}
                    data-prototype='{{ self.collection_item(prototype, allow_delete, '__name__')|e }}'
                {%- endif -%}
        >

            {% if prototypes|default is iterable %}
                {% for key, subPrototype in prototypes %}
                    <input type="hidden" data-form-prototype="{{ key }}" value="{{ self.collection_item(subPrototype, allow_delete, button_delete_label, '__name__')|e }}" />
                {% endfor %}
            {% endif %}

            <div data-form-collection="list">
                {% for child in form %}
                    {{ self.collection_item(child, allow_delete, loop.index0) }}
                {% endfor %}
            </div>

        </div>
    {% endapply %}
{%- endblock collection_widget %}

{% macro collection_item(form, allow_delete, index) %}
    {% apply spaceless %}
        <div data-form-collection="item" data-form-collection-index="{{ index }}">
            {% if allow_delete %}
            <div class="float-left">
                <a href="#" data-form-collection="delete" class="btn group btn-xs btn-danger" style="margin-bottom: 1em;">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            {% endif %}
            {% if allow_delete %}
                <div style="margin-left: 50px">
            {% endif %}
            {{ form_widget(form) }}
            {% if allow_delete %}
                </div>
            {% endif %}
        </div>
    {% endapply %}
{% endmacro %}



{% block a2lix_translations_widget %}

    {{ form_errors(form) }}
    <!-- Form horizontal -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">{{ form.vars.label is defined and form.vars.label ? form.vars.label : 'Traductions' }}</h6>
            <div class="heading-elements panel-tabs">
                <ul class="nav nav-tabs nav-tabs-bottom">
                    {% for translationsFields in form %}
                        {% set locale = translationsFields.vars.name %}

                        <li {% if app.request.locale == locale %}class="active"{% endif %}>
                            <a href="#" data-toggle="tab" data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                                <img src="{{ asset('bundles/aropixeladmin/images/flags/' ~ locale ~ '.png') }}">
                                {% if translationsFields.vars.required %}*{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="panel-tab-content tab-content">

            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div class="tab-pane has-padding {{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}

{% block a2lix_translationsForms_row %}
    {{- form_widget(form) -}}
{% endblock a2lix_translationsForms_row %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}




{% block aropixel_admin_color_widget %}

    {% set attr = attr|merge({class: ' color-picker', 'data-preferred-format': colorFormat}) %}
    <div>
        {{- block('form_widget_simple') -}}
    </div>

{% endblock %}

{# Labels #}



{% block video_row -%}

    <div class="row video-type">
        <div class="col-sm-5">
            <div class="form-group">
                {{ form_label(form) }}
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label class="control-label">Aperçu de votre vidéo</label>
                <div class="preview">{{ form.vars.value|length ? form.vars.value|raw : "<span></span>"|raw }}</div>
            </div>
        </div>
    </div>


{%- endblock video_row %}




{% block textarea_widget -%}
    {% if 'ckeditor' in attr.class|default('') %}
        {% set attr = attr|merge({'data-class': get_class(form.parent.vars.value)|trim, 'data-attach-path': get_image_editor_route()}) %}
    {% endif %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}



{% block aropixel_gallery_widget -%}


    {% set type = type is defined ? type : 'gallery' %}
    {% set entityField = field is defined ? field : 'gallery' %}
    {% set entityClass = get_class(form.parent.vars.value) %}
    {{ load_library(true) }}

    <div class="panel-list im-manager"
         data-im-type="{{ type }}"
         data-im-library="{{ image_library }}"
         data-im-entity-class="{{ entityClass }}"
         data-im-attach-class="{{ image_class }}"
         data-im-attach-short-class="{{ image_class_short }}"
         data-im-crop-active="{{ false|entity_crop_filters(image_class)|length > 1 }}">


        {% if prototype is defined and not prototype.rendered %}
            {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
        {% endif %}
        {%- set attr = attr|merge({'class': 'row galleryContent'}) -%}

        {{- block('form_widget') -}}

        {{ include('@AropixelAdmin/Image/Modals/crop.html.twig', {
            'image' : false,
            'image_class': image_class,
            'image_value': form.vars.image_value,
            'suffix': form.vars.crop_suffix,
            'crops': form.vars.crops,
        }) }}

    </div>

{%- endblock aropixel_gallery_widget %}




{% block aropixel_gallery_row -%}

    {{- form_widget(form) -}}

{%- endblock aropixel_gallery_row %}




{% block aropixel_gallery_image_row -%}

    <div
        class="{{ grid }}"
        data-title-label="{{ title_label }}"
        data-title-enabled="{{ title_enabled }}"
        data-description-label="{{ description_label }}"
        data-description-enabled="{{ description_enabled }}"
        data-link-label="{{ link_label }}"
        data-link-enabled="{{ link_enabled }}"
    >
        {{ include('@AropixelAdmin/Image/Widget/gallery.html.twig', { 'form' : form }) }}
    </div>

{%- endblock aropixel_gallery_image_row %}




{% block gallery_aropixel_admin_crops_widget -%}

    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {{- block('form_widget') -}}

{%- endblock gallery_aropixel_admin_crops_widget %}





{% block gallery_files_row -%}

    {% set type = type is defined ? type : 'files' %}
    {% set entityField = field is defined ? field : 'files' %}
    {% set entityClass = get_class(form.parent.vars.value) %}
    {% set multiple = multiple is defined and not multiple ? 0 : 1 %}
    {{ load_files_library(true) }}

    <div class="panel-list fl-manager"
         data-fl-type="{{ type }}"
         data-fl-entity-class="{{ entityClass }}"
         data-fl-attach-class="{{ imageLongClass }}"
         data-fl-attach-short-class="{{ imageShortClass }}"
         data-fl-multiple="{{ multiple }}">

        {{- form_widget(form) -}}

    </div>


{%- endblock gallery_files_row %}




{% block gallery_files_widget -%}

    {% set prototype_new %}{{ include('@AropixelAdmin/File/Widget/new.html.twig') }}{% endset %}
    {% if prototype is defined %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
        {%- set attr = attr|merge({'class': 'table table-responsive table-striped tableFiles'}) -%}
    {% endif %}

    <div class="panel panel-default border-left-xlg border-left-info">
        <div class="panel-heading">
            <h6 class="panel-title"><i class="icon-files-empty"></i>&nbsp;&nbsp;{{ label is defined and label|length ? label : 'Fichiers' }}</h6>
        </div>

        <table data-placeholder="{{ prototype_new|e }}" {{ block('widget_container_attributes') }}>
            {%- if form.parent is empty -%}
                {{ form_errors(form) }}
            {%- endif -%}

            {%- if data|length -%}
                {{- block('form_rows') -}}
            {%- else -%}
                {{ prototype_new|raw }}
            {%- endif -%}

            {{- form_rest(form) -}}
        </table>


        <div class="panel-footer">
            <div class="m-t-10 m-b-10 text-right">
                <div>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#modalFilesLibrary">
                        <i class="icon-files-empty2 position-left"></i>
                        {{ multiple is defined and not multiple ? 'Ajouter un fichier' : 'Ajouter des fichiers' }}
                    </a>
                </div>
            </div>
        </div>

    </div>

{%- endblock gallery_files_widget %}



{% block gallery_file_row -%}

    {{ include('@AropixelAdmin/File/Widget/file.html.twig', { 'form' : form }) }}

{%- endblock gallery_file_row %}




{% block aropixel_admin_file_row -%}

    {% set type = type is defined ? type : 'files' %}
    {% set entityField = field is defined ? field : 'files' %}
    {% set entityClass = get_class(form.parent.vars.value) %}
    {% set multiple = 0 %}
    {{ load_files_library(true) }}

    <div class="panel-list fl-manager"
         data-fl-type="{{ type }}"
         data-fl-attach-id="{{ form.vars.attachedFile is defined and form.vars.attachedFile ? form.vars.attachedFile.id : '' }}"
         data-fl-attach-class="{{ attach_class }}"
         data-fl-entity-class="{{ entityClass }}"
         data-fl-multiple="{{ multiple }}">


        {% set prototype_new %}{{ include('@AropixelAdmin/File/Widget/new.html.twig') }}{% endset %}
        {%- set attr = attr|merge({'class': 'table table-responsive table-striped tableFiles'}) -%}

        <div class="panel panel-default border-left-xlg border-left-info">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-files-empty"></i>&nbsp;&nbsp;{{ label is defined and label|length ? label : 'Fichiers' }}</h6>
            </div>

            <table data-placeholder="{{ prototype_new|e }}" {{ block('widget_container_attributes') }}>
                <tbody>
                {%- if form.parent is empty -%}
                    {{ form_errors(form) }}
                {%- endif -%}

                {%- if data|length -%}
                    {{ include('@AropixelAdmin/File/Widget/file.html.twig', { 'form' : form }) }}
                {%- else -%}
                    {{ prototype_new|raw }}
                {%- endif -%}

                {{- form_rest(form) -}}
                </tbody>
            </table>


            <div class="panel-footer">
                <div class="heading-elements">
                    <div>
                        <a class="btn btn-primary heading-btn pull-right" data-toggle="modal" data-target="#modalFilesLibrary">
                            <i class="icon-files-empty2 position-left"></i>
                            {{ multiple is defined and not multiple ? 'Ajouter un fichier' : 'Ajouter des fichiers' }}
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>


{%- endblock aropixel_admin_file_row %}




{% block aropixel_admin_image_widget -%}

    {% set type = type is defined ? type : 'image' %}
    {% set entityField = field is defined ? field : 'image' %}
    {% set entityClass = get_class(form.parent.vars.value) %}
    {{ load_library(true) }}

    <div class="panel-list im-manager form-group"
         data-im-type="{{ type }}"
         data-im-entity-class="{{ entityClass }}"
         data-im-attach-class="{{ form.vars.attach_class }}"
         {% if form.vars.attach_value is defined %}data-im-attach-value="{{ form.vars.attach_value }}"{% endif %}
         data-im-library="{{ form.vars.library }}"
         data-im-route="{{ routeName is defined and routeName ? routeName : app.request.get('_route')}}">


        {{ include('@AropixelAdmin/Image/Widget/image.html.twig', { 'form' : form }) }}

    </div>

{%- endblock aropixel_admin_image_widget %}



{% block aropixel_admin_slideshow_widget -%}

    {% if prototype is defined and not prototype.rendered %}
        {%- set attr = attr|merge({'data-prototype': form_row(prototype) }) -%}
    {% endif %}
    {%- set attr = attr|merge({'data-collection': 'container', 'class': 'row'}) -%}

    {{- block('form_widget') -}}

{%- endblock aropixel_admin_slideshow_widget %}



{% block gallery_aropixel_admin_crops_row -%}
    {{- form_widget(form) -}}
{%- endblock gallery_aropixel_admin_crops_row %}



{% block aropixel_admin_crops_row -%}

    {% if crops is defined and crops|length %}
    {{ include('@AropixelAdmin/Image/Modals/crop.html.twig', { 'image' : image, 'crops': crops }) }}
    {% else %}
    {{ include('@AropixelAdmin/Image/Modals/crop.html.twig', { 'image' : image, 'image_class': form.vars.image_class }) }}
    {% endif %}
    {{- form_widget(form) -}}
{%- endblock aropixel_admin_crops_row %}



{% block crop_row -%}
    {{- form_widget(form) -}}
{%- endblock crop_row %}





{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    {% if multiple %}
        {% set attr = attr|merge({'class': 'select-multiple'}) %}
        {% set attr = attr|merge({'style': 'width: 100%;'}) %}
    {% elseif attr.class is not defined or 'select2' not in attr.class|join('') %}
        {% set attr = attr|merge({'class': 'bootstrap-select form-control'}) %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none and (attr.class is not defined or 'select2' not in attr.class|join('')) -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}



{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        <div {{ block('widget_container_attributes') }} style="height: 36px">
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
        </div>
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                    translation_domain: choice_translation_domain,
                }) -}}
            {% endfor -%}
        </div>
    {%- endif %}
{%- endblock choice_widget_expanded %}




{% block date_widget -%}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-calendar5"></i></span>
            <input type="text" class="form-control pickadate" {{ block('widget_attributes') }} placeholder="Entrer une date" {% if value is not empty %}value="{{ date(value)|date("d/m/Y", false) }}" {% endif %} />
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}': form_widget(form.day),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}


{% block time_widget -%}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <span class="input-group-addon"><i class="icon-alarm"></i></span>
            <input type="text" class="form-control pickatime" {{ block('widget_attributes') }} placeholder="Entrer une heure&hellip;" {% if value is not empty %}value="{{ value }}" {% endif %} />
        </div>
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or false == datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif -%}
        {{- form_widget(form.hour) }}{% if with_minutes %}:{{ form_widget(form.minute) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
        {% if datetime is not defined or false == datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock time_widget %}






{% block select2_row -%}
    <div class="form-group form-group-select2{% if (class is defined) %} {{class}}{% endif %}{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="controls">
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock select2_row %}



{% block select2_widget -%}
    {% set select2_multiple = multiple %}
    <select {{ block('widget_attributes') }} class="select2-ajax form-control"{% if placeholder is not none %} data-placeholder="{{ placeholder }}"{% endif %} data-url="{{ url }}"{{multiple ? ' data-multiple="1" multiple' : ''}}>
        {% for choice in choices %}
            <option value="{{choice.value}}" selected="selected">{{choice.label}}</option>
        {% endfor %}
    </select>
{%- endblock select2_widget %}



{% block entity_collection_hidden_row -%}

    {{- form_widget(form) -}}
    {{- form_errors(form) -}}

{%- endblock entity_collection_hidden_row %}



{% block entity_collection_hidden_widget -%}
    {% set select2_multiple = multiple %}
    <select {{ block('widget_attributes') }} class="hidden d-none" {{multiple ? ' multiple' : ''}}>
        {% for choice in choices %}
            <option value="{{choice.value}}" selected="selected">{{choice.label}}</option>
        {% endfor %}
    </select>
{%- endblock entity_collection_hidden_widget %}





{% block money_widget -%}
    <div class="input-group transparent">
        {% set prepend = '{{' == money_pattern[0:2] %}
        {% if not prepend %}
            <div class="input-group-prepend"><div class="input-group-text">{{ money_pattern|replace({ '{{ widget }}':''}) }}</div></div>
        {% endif %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ 'numeric')|trim, 'data-a-sep': ' ', 'data-a-dec': ','}) %}
        {{- block('form_widget_simple') -}}
        {% if prepend %}
            <div class="input-group-append"><div class="input-group-text">{{ money_pattern|replace({ '{{ widget }}':''}) }}</div></div>
        {% endif %}
    </div>
{%- endblock money_widget %}



{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}{%- if select2_multiple is defined and select2_multiple %}[]{% endif -%}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes -%}
