<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>{% block meta_title %}{{ admin_client.name }} - Administration{% endblock %}</title>

	{% block stylesheets %}

		<!-- General CSS Files -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/bootstrap/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/select2/dist/css/select2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">

		<!-- CSS Libraries -->

		<!-- Template CSS -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/components.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/css/custom.css') }}">


		<!-- Awesome Font -->
		<link rel="stylesheet" href="{{ asset('bundles/aropixeladmin/modules/fontawesome/css/all.min.css') }}">

	{% endblock %}

</head>
<body>

	<div id="app">
		<section class="section">
			<div class="container mt-5">
				<div class="row">
					<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
						<div class="login-brand">
							<img src="{{ asset('bundles/aropixeladmin/img/logo.png') }}" alt="{{ admin_client.name }}" width="100" class="shadow-light rounded-circle">
						</div>

						<div class="card card-primary">
							<div class="card-header"><h4>Modifier votre mot de passe</h4></div>

							<div class="card-body">

								{% if error %}
									<div class="alert alert-danger">
										{{ error }}
									</div>
								{% endif %}

								{{ form_start(form) }}

								<div class="form-group">
									{{ form_row(form.password.first, {'attr': {'class': 'form-control', 'data-gdpr': 'true'}}) }}
								</div>

								<div class="form-group">
									{{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
								</div>

								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
										Continuer
									</button>
								</div>

								{{ form_end(form) }}

							</div>
						</div>
						<div class="simple-footer">
							Copyright &copy; {{ admin_client.name }} {{ "now"|date('Y') }}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>


	{% block javascripts %}
		<!-- General JS Scripts -->
		<script src="{{ asset('bundles/aropixeladmin/modules/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/popper.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/tooltip.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/nicescroll/jquery.nicescroll.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/moment.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/blockui.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/select2/dist/js/select2.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/x-editable/js/bootstrap-editable.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/datatables/datatables.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/plupload/plupload.full.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/plupload/plupload.queue.min.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/modules/gdpr/gdpr-password.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/js/stisla.js') }}"></script>
		<!-- JS Libraies -->
	{% endblock %}

	<!-- Page Specific JS File -->

	{% block theme_javascripts %}

		<!-- Template JS File -->
		<script src="{{ asset('bundles/aropixeladmin/js/scripts.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/js/app.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/js/images.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/js/files.js') }}"></script>
		<script src="{{ asset('bundles/aropixeladmin/js/custom.js') }}"></script>

	{% endblock %}

</body>
</html>
