{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ url('aropixel_admin_user_index') }}">Utilisateurs</a></li>
        {% if user and user.id %}
            <li class="breadcrumb-item active">Modifier</li>
        {% else %}
            <li class="breadcrumb-item active">Création</li>
        {% endif %}
    </ul>
{% endblock %}

{% set tabbableCollapsed = false %}

{% block formtitle %}{% if user and user.id %}Modifier un utilisateur{% else %}Ajouter un utilisateur{% endif %}{% endblock %}


{% block tabbable %}{% endblock %}

{% block mainPanel %}

    <div class="card card-centered card-centered-large">

        {{ form_errors(form.enabled) }}
        {{ form_widget(form.enabled, {'value': 'offline'}) }}

        <div class="card-body">

            {{ form_row(form.lastName) }}
            {{ form_row(form.firstName) }}

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                {{ form_row(form.superAdmin) }}
            {% endif %}

            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first, {'attr': {'data-gdpr': 'true'}}) }}
            {{ form_row(form.plainPassword.second) }}

        </div>

    </div>

{% endblock %}


{% block publishStatus %}{% endblock %}
