{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Utilisateurs</li>
    </ul>
{% endblock %}

{% block paneltitle %}{% endblock %}


{% block paneldatatable %}

    <div class="row">

        {% for user in users %}

            <div class="col-md-3">
                <div class="card" style="{% if not user.enabled  %}opacity: 0.5;{% endif %}">
                    <div class="pt-4 pb-4 ps-3 pe-3 d-block">

                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <div class="fw-bold badge badge-info">{% if 'ROLE_HYPER_ADMIN'in user.roles %}Hyper Administrateur{% elseif 'ROLE_SUPER_ADMIN'in user.roles %}Super Administrateur{% else %}Administrateur{% endif %}</div>
                            </div>
                            <div class="btn-group">
                                <a data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?" class="btn btn-danger btn-sm delete btn-user"><i class="fas fa-trash"></i> </a>
                                {{ form(delete_forms[user.id]) }}
                            </div>
                        </div>

                        <div class="text-center mb-3 mt-4">
                            <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}">
                                    <img src="{{ user.image ? user.image.getWebPath() | aropixel_imagine_filter('admin_thumbnail') : asset('bundles/aropixeladmin/img/logo.png') }}" alt="" class="w-50 rounded-circle"/>
                            </a>
                        </div>
                        <div class="text-center">
                            <strong>{{ user.completeName }}</strong>
                            <div class="text-muted lh-1 mt-2 mb-3">{{ user.email }}</div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}

