{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% set cardClass = 'datatable-card' %}

{% block header_title %}{% trans %}Users{% endtrans %}{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item active">{% trans %}Users{% endtrans %}</li>
    </ul>
{% endblock %}


{% block paneltitle %}{% trans %}Users roles{% endtrans %}{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th style="width:200px">{% trans %}Created on{% endtrans %}</th>
            <th style="width:200px">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.completeName }}</td>
                <td>{{ user.createdAt|datetime('dd/MM/Y') }}</td>
                <td>
                    <div class="btn-icon-group">
                        <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}" title="{% trans %}Edit{% endtrans %}"><i class="fas fa-edit"></i></a>
                        <a class="delete" data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?" title="{% trans %}Delete{% endtrans %}"><i class="fas fa-trash"></i></a>
                        {{ form(delete_forms[user.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
