{% extends '@AropixelAdmin/List/datatable.html.twig' %}
{% set cardClass = 'datatable-card' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Utilisateurs</li>
    </ul>
{% endblock %}


{% block paneltitle %}Liste des administrateurs{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>Titre</th>
            <th style="width:200px">Créé le</th>
            <th style="width:200px">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.completeName }}</td>
                <td>{{ user.createdAt|datetime('dd/MM/Y') }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}" class="btn btn-primary btn-labeled"><b><i class="fas fa-edit"></i></b> Modifier</a>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"><a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><a class="delete" data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?"><i class="fas fa-trash"></i> Supprimer</a></li>
                        </ul>
                        {{ form(delete_forms[user.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
