{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Utilisateurs</li>
    </ul>
{% endblock %}

{% block panels %}

    {% block paneldatatable %}

        <div class="row">

            {% for user in users %}

                <div class="col-sm-6 col-md-3">
                    <div class="card" style="{% if not user.enabled %}opacity: 0.5;{% endif %}">
                        <div class="pt-4 pb-4 ps-3 pe-3 d-block">

                            <div class="d-flex justify-content-end mb-3">
                                <div class="btn-group">
                                    <button type="button" data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?" class="badge badge-danger badge-icon delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    {{ form(delete_forms[user.id]) }}
                                </div>
                            </div>

                            <div class="text-center mb-3">
                                <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}">
                                    <img src="{{ user.image ? user.image.getWebPath() | aropixel_imagine_filter('admin_thumbnail') : asset('bundles/aropixeladmin/img/logo.png') }}" alt="" class="w-50 rounded-circle"/>
                                </a>
                            </div>
                            <div class="text-center">
                                <strong>{{ user.completeName }}</strong>
                                <div class="text-muted lh-1 mt-2 mb-3">{{ user.email }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    {% endblock %}

{% endblock %}

