{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Utilisateurs</li>
    </ul>
{% endblock %}


{% block paneltitle %}Liste des administrateurs{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">

        <thead>
            <tr>
                <th>Titre</th>
                <th style="width:200px">Créé le</th>
                <th style="width:200px">Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for user in users %}

                <tr>
                    <td>
                        <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}">
                            <span class="state-icon state-icon-{{ user.enabled ? 'online' : 'offline' }}" title="{{ user.enabled ? 'en ligne' : 'hors ligne' }}"></span>
                            {{ user.completeName }}
                        </a>
                    </td>
                    <td>{{ user.createdAt|datetime('dd/MM/Y') }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="badge badge-light badge-icon" data-bs-toggle="dropdown" data-boundary="viewport">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}" class="dropdown-item has-icon"><i class="fas fa-edit"></i> Modifier</a>
                                <div class="dropdown-divider"></div>
                                <a data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?" class="delete dropdown-item has-icon text-danger">
                                    <i class="fas fa-trash"></i> Supprimer
                                </a>
                                {{ form(delete_forms[user.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
