{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Utilisateurs{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Utilisateurs</li>
    </ul>
{% endblock %}


{% block paneltitle %}Liste des administrateurs{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>Titre</th>
            <th style="width:200px">Créé le</th>
            <th style="width:200px">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.completeName }}</td>
                <td>{{ user.createdAt|datetime('dd/MM/Y') }}</td>
                <td>
                    <div class="btn-icon-group">
                        <a href="{{ path('aropixel_admin_user_edit', {'id': user.id}) }}" title="Modifier"><i class="fas fa-edit"></i></a>
                        <a class="delete" data-confirm="Êtes-vous certain de vouloir supprimer cet utilisateur ?" title="Supprimer"><i class="fas fa-trash"></i></a>
                        {{ form(delete_forms[user.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
